<a href="https://colab.research.google.com/github/abdulkadirdemirci/abdulkadirdemirci/blob/main/metin_%C3%B6n_i%C5%9Fleme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# metni array,seri,df ye çevirmek

In [ ]:
metin="""
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Berly Coronet
The Adventure of the Copper Beeches"""

In [ ]:
metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Berly Coronet\nThe Adventure of the Copper Beeches"

In [ ]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Berly Coronet',
 'The Adventure of the Copper Beeches']

In [ ]:
import pandas as pd

In [ ]:
v=pd.Series(metin.split("\n"))

In [ ]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Berly Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [ ]:
v=v[1:len(v)]

In [ ]:
mdf= pd.DataFrame(v,columns=["hikayeler"] )

In [ ]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Berly Coronet
12    The Adventure of the Copper Beeches

# buyük küçük harf dönüşümü

metinlerle yapılan işlemlerde her adımda copy kullanmak çok önemlidir. tavssiye edilir.

In [ ]:
c1_mdf=mdf.copy()

In [ ]:
c2_mdf=c1_mdf["hikayeler"].apply(lambda x : " ".join(x.lower() for x in x.split()))
type(c2_mdf)

pandas.core.series.Series

yapılan işlem sonrası df seriye dönüştü

In [ ]:
c2_mdf=pd.DataFrame(c2_mdf, columns=["hikayeler"])

In [ ]:
c2_mdf

                                hikayeler
1                a scandal in bohemia! 01
2                 the red-headed league,2
3                  a case, of identity 33
4            the boscombe valley mystery4
5                   the five orange pips1
6           the man with? the twisted lip
7     the adventure of the blue carbuncle
8      the adventure of the speckled band
9   the adventure of the engineer's thumb
10    the adventure of the noble bachelor
11     the adventure of the berly coronet
12    the adventure of the copper beeches

# noktalama işaretlerinin silinmesi

In [ ]:
c3_mdf=c2_mdf["hikayeler"].str.replace("[^\w\s]","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
c3_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the berly coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

In [ ]:
karsılastırma=pd.concat([c3_mdf,c2_mdf],axis=1)

In [ ]:
karsılastırma

,hikayeler,hikayeler
1,a scandal in bohemia 01,a scandal in bohemia! 01
2,the redheaded league2,"the red-headed league,2"
3,a case of identity 33,"a case, of identity 33"
4,the boscombe valley mystery4,the boscombe valley mystery4
5,the five orange pips1,the five orange pips1
6,the man with the twisted lip,the man with? the twisted lip
7,the adventure of the blue carbuncle,the adventure of the blue carbuncle
8,the adventure of the speckled band,the adventure of the speckled band
9,the adventure of the engineers thumb,the adventure of the engineer's thumb
10,the adventure of the noble bachelor,the adventure of the noble bachelor
11,the adventure of the berly coronet,the adventure of the berly coronet
12,the adventure of the copper beeches,the adventure of the copper beeches

# sayıların silinmesi

In [ ]:
c4_mdf=c3_mdf.str.replace("\d","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
karsılastırma=pd.concat([c3_mdf,c4_mdf],axis=1)
karsılastırma

                               hikayeler                             hikayeler
1                a scandal in bohemia 01                 a scandal in bohemia
2                  the redheaded league2                  the redheaded league
3                  a case of identity 33                   a case of identity
4           the boscombe valley mystery4           the boscombe valley mystery
5                  the five orange pips1                  the five orange pips
6           the man with the twisted lip          the man with the twisted lip
7    the adventure of the blue carbuncle   the adventure of the blue carbuncle
8     the adventure of the speckled band    the adventure of the speckled band
9   the adventure of the engineers thumb  the adventure of the engineers thumb
10   the adventure of the noble bachelor   the adventure of the noble bachelor
11    the adventure of the berly coronet    the adventure of the berly coronet
12   the adventure of the copper beeches   the adventure of the copper beeches

# stopwords ( the with of ... )

In [ ]:
type(c4_mdf)

pandas.core.series.Series

In [ ]:
c4_mdf=pd.DataFrame(c4_mdf)
c4_mdf

                               hikayeler
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the berly coronet
12   the adventure of the copper beeches

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)

In [184]:
import nltk

In [ ]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
sw=stopwords.words("english")
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
c5_mdf=c4_mdf['hikayeler'].apply(lambda x : " ".join(x for x in x.split() if x not in sw ))
c5_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure berly coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [ ]:
karsılastırma=pd.concat([c5_mdf,c4_mdf],axis=1)
karsılastırma

                    hikayeler                             hikayeler
1             scandal bohemia                 a scandal in bohemia
2            redheaded league                  the redheaded league
3               case identity                   a case of identity
4     boscombe valley mystery           the boscombe valley mystery
5            five orange pips                  the five orange pips
6             man twisted lip          the man with the twisted lip
7    adventure blue carbuncle   the adventure of the blue carbuncle
8     adventure speckled band    the adventure of the speckled band
9   adventure engineers thumb  the adventure of the engineers thumb
10   adventure noble bachelor   the adventure of the noble bachelor
11    adventure berly coronet    the adventure of the berly coronet
12   adventure copper beeches   the adventure of the copper beeches

# frekansı düşük olan kelimeleri silmek( az geçen kelimeleri silmek dha büyük metin verilerinde önemli bir adım)

In [ ]:
c5_mdf=pd.DataFrame(c5_mdf)

In [ ]:
type(c5_mdf)

pandas.core.frame.DataFrame

In [ ]:
pd.Series(" ".join(c5_mdf["hikayeler"]).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
berly        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

In [ ]:
sil=pd.Series(" ".join(c5_mdf["hikayeler"]).split()).value_counts()[-2:]

In [ ]:
sil

redheaded    1
beeches      1
dtype: int64

In [ ]:
c6_mdf=c5_mdf['hikayeler'].apply(lambda x : " ".join(x for x in x.split() if x not in sil ))
c6_mdf

1               scandal bohemia
2                        league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure berly coronet
12             adventure copper
Name: hikayeler, dtype: object

In [ ]:
karsılastırma=pd.concat([c5_mdf,c6_mdf],axis=1)
karsılastırma

                    hikayeler                  hikayeler
1             scandal bohemia            scandal bohemia
2            redheaded league                     league
3               case identity              case identity
4     boscombe valley mystery    boscombe valley mystery
5            five orange pips           five orange pips
6             man twisted lip            man twisted lip
7    adventure blue carbuncle   adventure blue carbuncle
8     adventure speckled band    adventure speckled band
9   adventure engineers thumb  adventure engineers thumb
10   adventure noble bachelor   adventure noble bachelor
11    adventure berly coronet    adventure berly coronet
12   adventure copper beeches           adventure copper

tamamen bir gzlem kaybettik aslında işimize gelmez ama devam edelim

# tokenization ( cümleyi kelimelere ayırmak)

In [ ]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (4.64.0)

In [ ]:
import textblob

In [ ]:
from textblob import TextBlob
type(c6_mdf)

pandas.core.series.Series

In [ ]:
c7_mdf=pd.DataFrame(c6_mdf)

In [ ]:
c8_mdf=c7_mdf["hikayeler"].apply(lambda x : TextBlob(x).words)
c8_mdf

1                [scandal, bohemia]
2                          [league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, berly, coronet]
12              [adventure, copper]
Name: hikayeler, dtype: object

# stemming ( kelimenin köküne ulaşmak)

In [175]:
from nltk.stem import PorterStemmer
st=PorterStemmer()

In [176]:
c8_mdf=pd.DataFrame(c8_mdf)
c8_mdf

                        hikayeler
1              [scandal, bohemia]
2                        [league]
3                [case, identity]
4     [boscombe, valley, mystery]
5            [five, orange, pips]
6             [man, twisted, lip]
7    [adventure, blue, carbuncle]
8     [adventure, speckled, band]
9   [adventure, engineers, thumb]
10   [adventure, noble, bachelor]
11    [adventure, berly, coronet]
12            [adventure, copper]

In [177]:
c7_mdf

                    hikayeler
1             scandal bohemia
2                      league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure berly coronet
12           adventure copper

In [178]:
type(c7_mdf)

pandas.core.frame.DataFrame

c8_mdf e uygulayamam çünkü o bir wordlist ama bu bir df

In [195]:
c8_mdf=c7_mdf["hikayeler"].apply(lambda x : " ".join(st.stem(x) for x in x.split()))
c8_mdf

1            scandal bohemia
2                      leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur berli coronet
12           adventur copper
Name: hikayeler, dtype: object

# lemmatization ( başka şekilde kelimeleri yalınlaştırmak)

In [186]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [188]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [196]:
c9_mdf=c7_mdf["hikayeler"].apply(lambda x : " ".join(Word(i).lemmatize() for i in x.split()))
c9_mdf

1              scandal bohemia
2                       league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure berly coronet
12            adventure copper
Name: hikayeler, dtype: object

In [190]:
import pandas as pd

In [197]:
karsılastır=pd.concat([c7_mdf,c9_mdf,c8_mdf],axis=1)
karsılastır

,hikayeler,hikayeler,hikayeler
1,scandal bohemia,scandal bohemia,scandal bohemia
2,league,league,leagu
3,case identity,case identity,case ident
4,boscombe valley mystery,boscombe valley mystery,boscomb valley mysteri
5,five orange pips,five orange pip,five orang pip
6,man twisted lip,man twisted lip,man twist lip
7,adventure blue carbuncle,adventure blue carbuncle,adventur blue carbuncl
8,adventure speckled band,adventure speckled band,adventur speckl band
9,adventure engineers thumb,adventure engineer thumb,adventur engin thumb
10,adventure noble bachelor,adventure noble bachelor,adventur nobl bachelor
11,adventure berly coronet,adventure berly coronet,adventur berli coronet
12,adventure copper,adventure copper,adventur copper

In [199]:
karsılastır=pd.concat([c1_mdf,c9_mdf,c8_mdf],axis=1)
karsılastır

,hikayeler,hikayeler,hikayeler
1,A Scandal in Bohemia! 01,scandal bohemia,scandal bohemia
2,"The Red-headed League,2",league,leagu
3,"A Case, of Identity 33",case identity,case ident
4,The Boscombe Valley Mystery4,boscombe valley mystery,boscomb valley mysteri
5,The Five Orange Pips1,five orange pip,five orang pip
6,The Man with? the Twisted Lip,man twisted lip,man twist lip
7,The Adventure of the Blue Carbuncle,adventure blue carbuncle,adventur blue carbuncl
8,The Adventure of the Speckled Band,adventure speckled band,adventur speckl band
9,The Adventure of the Engineer's Thumb,adventure engineer thumb,adventur engin thumb
10,The Adventure of the Noble Bachelor,adventure noble bachelor,adventur nobl bachelor
11,The Adventure of the Berly Coronet,adventure berly coronet,adventur berli coronet
12,The Adventure of the Copper Beeches,adventure copper,adventur copper