<a href="https://colab.research.google.com/github/abdulkadirdemirci/abdulkadirdemirci/blob/main/sql1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%!
pip install --trusted-host pypi.org ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:////content/drive/MyDrive/veriler/database/databases_application.db

In [ ]:
%%sql
SELECT * FROM Customers LIMIT 3;

# manuel tablo oluşturmak

In [ ]:
%%sql
CREATE TABLE yeni_tablo (isimler varchar(20),soyisim varchar(20))

In [ ]:
%%sql
SELECT * FROM yeni_tablo

In [ ]:
%%sql
INSERT INTO yeni_tablo values("abdulkadir","demirci")

In [ ]:
%%sql
INSERT INTO yeni_tablo values("abdulgafur","demir")

In [ ]:
%%sql
SELECT * FROM yeni_tablo

In [ ]:
# tüm tabloların isimlerine ulaşmak
%%sql
SELECT name FROM sqlite_master WHERE type= "table"

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type="table"

In [ ]:
%%sql
SELECT * FROM Customers WHERE 1=0;

In [ ]:
%%sql
SELECT * FROM Customers WHERE 12=1;

In [ ]:
%%sql
SELECT * FROM Customers LIMIT 1;

In [ ]:
%%sql
SELECT City,Country,CustomerID FROM Customers LIMIT 3;

# BAZI MATEMATİKSEL İŞLEMLER

In [69]:
%%sql
SELECT * FROM Products where 1=0;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[]

In [ ]:
%%sql
SELECT Price,Price*2,Price*3-100 FROM Products LIMIT 10;

# alias ( takma ad deişkene isim vermek)

In [ ]:
%%sql
SELECT Price AS ilk_fiyat, Price*2 AS ikinci_fiyat, Price*3-100 AS son_fiyat FROM Products LIMIT 5;

# count (SAYDIRMAK)

In [ ]:
%%sql
SELECT name FROM sqlite_master

In [ ]:
%%sql
SELECT COUNT(*) FROM Orders

In [ ]:
%%sql
SELECT COUNT(*) AS adet FROM Employees;

# order by (order by desc) sıralamak

In [76]:
%%sql
SELECT * FROM Products ORDER BY Price LIMIT 10;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(13, 'Konbu', 6, 8, '2 kg box', 6),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14)]

In [77]:
%%sql
SELECT * FROM Products WHERE 1=0;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[]

In [78]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [80]:
%%sql
SELECT * FROM Products ORDER BY DESC Price LIMIT 4;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
(sqlite3.OperationalError) near "Price": syntax error
[SQL: SELECT * FROM Products ORDER BY DESC Price LIMIT 4;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [81]:
%%sql
SELECT * FROM Customers WHERE Country="UK";

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')]

In [ ]:
%%sql
SELECT * FROM Customers WHERE NOT Country="UK" ;

# and or kullanımı

In [87]:
%%sql
SELECT * FROM Customers WHERE Country="USA" AND (City="Seatle" OR City="Portland");

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')]

# in ve not in kullanımı

In [90]:
%%sql
SELECT COUNT(*) FROM Customers;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(91,)]

In [91]:
%%sql
SELECT * FROM Customers WHERE CustomerID in (1,5,88,77);

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')]

In [92]:
%%sql
SELECT * FROM Customers WHERE Country = "USA" AND City IN ("Eugene","Portland","Elgin");

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')]

In [93]:
%%sql
SELECT * FROM Customers WHERE Country = "USA" AND City not IN ("Eugene","Portland","Elgin");

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

# like kullanımı



1.   **"a%"** :     *a ile başlayan*
2.   **"%a"** :     *a ile biten*
3.   **"%or%"**:    *içinde or geçen*
4.   **"_r%"** :    *2.sırasında r olan*
5.   **"a%o"** :    *a ile başlayıp o ile biten*
6.   **"a%%"** :    *a ile başlayan en az 3 harfli*

In [96]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "a%" ;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')]

In [100]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "%lo" ;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')]

In [101]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "%OR%" AND Country LIKE "%O";

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico')]

# BETWEEN VE NOT BETWEEN KULLANIMI

In [103]:
%%sql
SELECT * FROM  Products WHERE Price BETWEEN 10 AND 20 LIMIT 10;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18)]

In [104]:
%%sql
SELECT * FROM Products WHERE Price NOT BETWEEN 10 AND 20 LIMIT 10;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6)]

In [107]:
%%sql
SELECT * FROM Products wHERE ( Price BETWEEN 10 AND 20 ) AND ( CategoryID NOT IN ( 2, 4, 1 ) );

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (54, 'Tourtière', 25, 6, '16 pies', 16),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10)]

In [108]:
%%sql
SELECT ProductName FROM Products wHERE ( Price BETWEEN 10 AND 20 ) AND ( CategoryID NOT IN ( 2, 4, 1 ) );

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[('Pavlova',),
 ("Sir Rodney's Scones",),
 ('NuNuCa Nuß-Nougat-Creme',),
 ('Inlagd Sill',),
 ('Singaporean Hokkien Fried Mee',),
 ('Spegesild',),
 ('Maxilaku',),
 ('Valkoinen suklaa',),
 ('Tourtière',),
 ('Escargots de Bourgogne',),
 ('Röd Kaviar',),
 ('Longlife Tofu',)]

In [111]:
%%sql
SELECT * FROM Products WHERE ProductName NOT BETWEEN "Pavlova" AND "NuNuCa Nuß-Nougat-Creme" ORDER BY Price;

 * sqlite:////content/drive/MyDrive/veriler/database/databases_application.db
Done.

[(13, 'Konbu', 6, 8, '2 kg box', 6),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (54, 'Tourtière', 25, 6, '16 pies', 16),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 27),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 27),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 43),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43),
 (33, 'Geitost', 15, 4, '500 g', 43),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 43),
 (45, 'Røgede sild', 21, 8, '1k pkg.', 43),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 43),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 43),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 43),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 45),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435)]